
.productsList{
height: 25vh;
display: flex;
align-items: end;
margin-bottom: 20px;

}
.productsList h2 {
margin-bottom: 20px;
}
.product_list_page_list{
    padding-bottom: 30px;
    /* border-bottom: 3px solid orange; */
    margin-top: 30px;
}
.product_list_page_list a {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-decoration: none;
    margin-top: 30px;
    
}
.product_list_page_list a:hover{
    scale: 1.1;
}

.product_list_page_list a h5 {
    width: 100%;
    text-align: center;
}

.product_list_page_list a img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 481px) {
.product_list_page_list {
    margin: 0;
}}