.form_contact{
    width: 50%;
    
}
.form_label{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
}
.form_label h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    
}
.form_label h5{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    
}
.container_form{
width: 100%;
justify-content: center;
align-items: center;
display: flex;
padding: 50px 0;
}
.form_group{
    margin-bottom: 30px;
    display: flex;
    width: 80%;
    flex-direction: column;
}
.form_control{
    height: 50px;
}
.form_control_mes{
    height: 100px;
}
.submit_form{
    background: linear-gradient(-45deg, #eb6424, #fbba72);
    color: #fff;
    border-radius: 25px 0 25px 25px;
    width: 180px;
    height: 50px;
    border: none;
}
.form_contact_input{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
flex-direction: column;
}
.form_contact_input input{
    padding: 10px ;
}
.form_contact_input textarea{
    height: 100px;
    padding: 10px ;
}
.button_send{
    width: 80%;
    color: #fff;
    border: none;
    height: 40px;
    background: #eb6424;
    cursor: pointer;
    border-radius: 5px;
}
@media only screen and (max-width: 1200px) {
    .form_contact {
        width: 80%;
    }
    }
    @media only screen and (max-width: 992px) {
        .form_contact {
            width: 100%;
        }
        }
