
main {
    width: 100%;
    height: 400vh;
}

.slider {
    width: 100%;
    /* height: 85vh;
    background: violet; */
    position: relative;
}

.slider img {
    width: 100%;
}

/* .con_slider{
width: 100%;
height: 85vh;

} */
/* .item_slider{
    width: 100%;
    height: 85vh;
    position: relative;
} */
.info_item {
    position: absolute;
    top: 60%;

}
.info_item .learn_more{
width: 180px;
height: 50px;
background: linear-gradient(45deg, #eb6424, #fbba72);
color: #fff;
font-size: 2    0px;
border: none;
border-radius: 25px 0 25px 25px;
}
.info_item .learn_more:hover{
    background: linear-gradient(-45deg, #eb6424, #fbba72);
}


.why_choose {
    width: 100%;
    /* height: 40vh; */
    position: relative;
    padding: 30px 0;
}
.con_why_choose{
    width: 100%;
    /* position: absolute; */
    top: -10%;
    left: 0;
    z-index: 100;
}
.con_why_choose h1{
    padding: 30px 0;
}
.reasons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.reasons .reason {
    width: 300px;
    height: 280px;
    background: #fff;
    border-radius: 50px 0 50px 50px;
    padding: 20px;
    /* border: 1px solid #000; */
    text-align: center;
    line-height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;

}

.reasons .reason:hover {
    background: linear-gradient(135deg, #eb6424, #fbba72);


}

.reasons .reason:hover a {
    color: #fff;
}

.reasons .reason:hover .reason_icon {
    background: #fff;
    color: #000;
}

.reasons .reason .reason_icon {
    width: 80px;
    height: 80px;
    background: #edecec;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reasons .reason a {
    text-decoration: none;
    color: #000;
}

.solusion_home {
    background: #f0f0f0;
    width: 100%;
    height: 50vh;
    
}
.solusion_home .solusion_home_hospital{
    padding: 30px 0;
    width: 100%;
}
.solusion_home .solusion_home_hospital .solusion_home_hospital_left{
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .reasons{
        justify-content: center;
    }
    .reasons .reason {
        width: 80%;


    }
}