main {
    width: 100%;

}

.con_slider {
    width: 100%;
    height: 90vh;
    background: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
}

.con_slider img {
    width: 85%;
    position: absolute;
    top: -10%;
    right: 0;
}


/* .con_slider{
width: 100%;
height: 85vh;

} */
/* .item_slider{
    width: 100%;
    height: 85vh;
    position: relative;
} */
.info_item {
    position: absolute;
    top: 30%;

}

.content_slider {
    width: 100%;
    position: absolute;
    top: 25%;

    line-height: 30px;

}

.con_content_slider {
    width: 50%;

}

.content_slider .con_content_slider h2 {
    line-height: 50px;
}

.content_slider .con_content_slider p {
    line-height: 30px;
}

.content_slider .con_content_slider h4 {
    color: #eb6424;
}

.content_slider .con_content_slider a {
    width: 180px;
    height: 50px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #eb6424, #fbba72);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px 0 25px 25px;
    margin-top: 20px;
}

.content_slider a:hover {
    background: linear-gradient(-45deg, #eb6424, #fbba72);
}

.info_item .learn_more {
    width: 180px;
    height: 50px;
    background: linear-gradient(45deg, #eb6424, #fbba72);
    color: #fff;
    font-size: 2 0px;
    border: none;
    border-radius: 25px 0 25px 25px;
}

.info_item .learn_more:hover {
    background: linear-gradient(-45deg, #eb6424, #fbba72);
}



.why_choose {
    width: 100%;
    /* height: 40vh; */
    position: relative;
    padding: 30px 0;
}

.con_why_choose {
    width: 100%;
    /* position: absolute; */
    top: -10%;
    left: 0;
    z-index: 100;
}

.con_why_choose h1 {
    padding: 30px 0;
}

.reasons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.reasons .reason {
    width: 300px;
    height: 280px;
    background: #fff;
    border-radius: 50px 0 50px 50px;
    padding: 20px;
    /* border: 1px solid #000; */
    text-align: center;
    line-height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;

}

.reasons .reason h6 {
    font-size: 18px;
    color: #3B566E;
    margin-bottom: 10px;
}

.reasons .reason p {
    font-size: 14px;
    color: #6F8BA4;
}

.reasons .reason:hover {
    background: linear-gradient(135deg, #eb6424, #fbba72);


}

.reasons .reason:hover h6 {
    color: #fff;

}

.reasons .reason:hover p {
    color: #fff;
}

.reasons .reason:hover .reason_icon {
    background: #fff7f5;
    color: #000;
}

.reasons .reason .reason_icon {
    width: 80px;
    height: 80px;
    background: #edecec;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.reasons .reason a {
    text-decoration: none;
    color: #000;
}

.solusion_home {
    background: #F7FAFD;
    width: 100%;
    overflow: hidden;
    display: block;


}

.solusion_home .solusion_home_hospital {
    /* padding: 70px 0; */
    width: 100%;
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solusion_home .solusion_home_hospital .con_solusion_home {
    display: flex;
}

.solusion_home .solusion_home_restaurant {
    /* padding: 70px 0; */
    width: 100%;
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;

}

.solusion_home .solusion_home_pager {
    /* padding: 70px 0; */
    width: 100%;
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solusion_home .con_solusion_home {
    display: flex;
}

.solusion_home .solusion_home_info {
    width: 50%;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.solusion_home .solusion_home_info h2 {
    font-size: 28px;
    color: #3B566E;

}

.solusion_home .solusion_home_info h4 {
    margin-bottom: 30px;
}

.solusion_home .solusion_home_info p {
    font-size: 16px;
    color: #6F8BA4;
    line-height: 30px;
}

.solusion_home .solusion_home_info ul {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.solusion_home .solusion_home_info li {
    width: 47%;
}

.solusion_home .solusion_home_info li:hover a {
    padding-left: 30px;
}

.solusion_home .solusion_home_info a {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background: #fff;
    border: none;
    border-radius: 20px 0 20px 20px;
    color: #000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.solusion_home .solusion_home_info a:hover {
    background: linear-gradient(-45deg, #eb6424, #fbba72);
    color: #fff;
}

.solusion_home .solusion_home_info a span {
    margin-left: 5px;
}

.solusion_home .solusion_home_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_button_allsolusion {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #eb6424, #fbba72);
    color: #fff;
    border-radius: 25px 0 25px 25px;
    margin-top: 60px;

}

.solusion_other {
    padding: 100px 0;
}

.container_solusion_other {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.title_solusion_other {
    text-align: center;
    width: 70%;
    margin-bottom: 20px;
    line-height: 30px;
}

.solusion_other_con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.solusion_other_con_card {
    width: 270px;
    height: 300px;
    background: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    margin-top: 70px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

.solusion_other_con_card_img {
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: yellow;
    border-radius: 25px 0 25px 25px;
    transition: 0.5s;

}

.solusion_other_con_card:hover .solusion_other_con_card_img {
    top: -17%;
}

.solusion_other_con_card_title {
    margin-top: 80px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #eb6424, #fbba72);
    margin-bottom: 40px;
    color: #fff;
}

.solusion_other_con_card_content {
    padding: 0 10px;
}

.home_customer_typical {
    width: 100%;
    padding: 80px 20px;
    border-top: 1px solid orange;
    background: #eeeeee;
}

.home_customer_typical_title {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;

}

.home_customer_typical_slider {
    width: 100%;
    overflow: hidden;
}

.home_customer_typical_slider img {
    width: 100%;
}

.container_logo_doitac {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home_customer_typical_slider .slider-images {
    display: flex;
    width: 12%;
    border: none;
    justify-content: space-between;

}

.logo_doitac {
    width: 10%;

}

.home_contact {
    background: linear-gradient(45deg, #eb6424, #fbba72);
}

.container_home_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 25vh; */
    padding: 50px 0;

}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(165, 165, 165);

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.SwiperSlide {
    color: #3B566E;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home_contact a {
    margin: 30px 0;
    width: 180px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 20px 0 20px 20px;
    color: #000;
    text-decoration: none;
    color: orange;

}

.blog_home {
    width: 100%;
    padding: 80px 0;

}

.title_container_blog_home {
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
    line-height: 30px;
}

.container_blog_home {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container_home_blog_card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_blog_card {
    width: 400px;
    height: 500px;
}

.home_blog_card_img {
    width: 100%;
    background: orange;
    height: 250px;
    border-radius: 20px;
}

.home_blog_card_content {
    text-align: center;
    padding: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_blog_card_content a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: linear-gradient(90deg, #eb6424, #fbba72);
    border-radius: 25px 0 25px 25px;
    color: #fff;
    text-decoration: none;
}

.home_blog_card_content a:hover {
    background: linear-gradient(-90deg, #eb6424, #fbba72);
}

@media only screen and (max-width: 1200px) {
    .solusion_other_con_card {
        width: 200px;
        height: 300px;
    }

    .home_blog_card {
        width: 300px;
    }
}

@media only screen and (max-width: 992px) {
    .solusion_home .solusion_home_hospital {
        padding: 50px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .solusion_home .solusion_home_info {
        width: 100%;
    }

    .con_solusion_home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .solusion_home_img {
        margin: 30px 0;
    }

    .solusion_other_con {
        flex-wrap: wrap;
    }

    .solusion_other_con_card {
        width: 270px;
        height: 300px;

    }

    .container_home_blog_card {
        flex-wrap: wrap;

    }
}

@media only screen and (max-width: 992px) {
    .slider {
        height: 60vh;
    }
}

@media only screen and (max-width: 768px) {
    .slider {
        height: 55vh;
    }

    .slider .content_slider {
        width: 100%;
        position: absolute;
        top: 35%;
        line-height: 30px;

    }

    .slider img {
        width: 115%;
    }

    .con_content_slider {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .reasons {
        justify-content: center;
    }

    .reasons .reason {
        width: 80%;
    }

    .solusion_home .solusion_home_info ul {

        display: block;
    }

    .solusion_home .solusion_home_info li {
        width: 100%;
        margin: 15px 0;
    }

    .solusion_home .solusion_home_info a {
        margin: 0;
    }

    .title_solusion_other {
        width: 100%;
    }

    .solusion_other_con_card {
        width: 80%;
        height: 250px;

    }

    .title_container_blog_home {
        width: 100%;
    }

    .container_home_blog_card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .home_blog_card {
        width: 80%;
        margin: 30px 0;
    }
}

@media only screen and (max-width: 481px) {

    .reasons {
        justify-content: center;
    }

    .reasons .reason {
        width: 80%;


    }


}