main {
    width: 100%;

}

.home_slider {
    width: 100%;
    /* height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 20px;
    
    overflow: hidden;
}

.home_slider img {
    width: 100%;
    height: 110vh;
    object-fit: cover;
    position: relative;
}

.info_item {
    position: absolute;
    top: 30%;
}

.con_content_slider {
    width: 100%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con_content_slider h2 {
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 60px;

}

.content_slider .con_content_slider p {
    line-height: 30px;
}

.content_slider .con_content_slider h4 {
    color: #eb6424;
}

.content_slider .con_content_slider a {
    width: 180px;
    height: 50px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #eb6424, #fbba72);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px 0 25px 25px;
    margin-top: 20px;
}

.content_slider a:hover {
    background: linear-gradient(-45deg, #eb6424, #fbba72);
}

.info_item .learn_more {
    width: 180px;
    height: 50px;
    background: linear-gradient(45deg, #eb6424, #fbba72);
    color: #fff;
    font-size: 2 0px;
    border: none;
    border-radius: 25px 0 25px 25px;
}

.info_item .learn_more:hover {
    background: linear-gradient(-45deg, #eb6424, #fbba72);
}

.why_choose_utilities {
    width: 100%;
    /* height: 40vh; */
    position: relative;
    padding: 40px 0;
}

.con_why_choose_utilities {
    width: 100%;
    /* position: absolute; */
    /* top: -10%;
    left: 0; */
    z-index: 100;
}

.con_why_choose_utilities .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.con_why_choose_utilities .con_why_choose_title_utilities {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 40px;
}

.con_why_choose_utilities .con_why_choose_title_utilities h6 {
    width: 60%;
    height: 30vh;
    text-align: center;

}

.utilities {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;

}

.utilities .utilitie {
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;

}

.utilities .utilitie h6 {
    font-size: 18px;
    color: #3B566E;
    margin-bottom: 10px;
}

.utilities .utilitie .reason_icon {
    width: 100px;
    height: 100px;
    background: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 60px;
}



.classify_rooms {
    width: 100%;
    /* height: 40vh; */
    position: relative;
    padding: 40px 0;
}

.con_classify_rooms {
    width: 100%;
    top: -10%;
    left: 0;
    z-index: 100;
}

.con_classify_rooms .con_classify_rooms_title {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con_classify_rooms .con_classify_rooms_viewall {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: 1px solid #000;
    font-size: 20px;

}

.con_classify_rooms .con_classify_rooms_viewall p {
    margin: 0;
    width: 100px;
    border-bottom: 2px solid #000;
    cursor: pointer;
}

.con_classify_rooms h1 {
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 20px;
}

.classify_rooms_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.classify_rooms_items .rooms_item {
    width: 300px;
    height: 430px;
    background: #fff;
    border-radius: 15px;
    text-align: start;
    line-height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    overflow: hidden;

}

.rooms_items_homepage {
    margin: 100px 0;
}

.classify_rooms_items .rooms_item .rooms_item_content {
    padding: 5px 20px;
}

.rooms_item_content_icon {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.rooms_item_content_icon p {
    margin: 0;
    margin-right: 20px;
    font-size: 16px;
}

.rooms_item_content_icon .icon {
    font-size: 30px;
    margin-right: 10px;
}

.rooms_item_content .xemthem {
    position: relative;
    width: 95px;
}

.rooms_item_content .xemthem::before {
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    content: '';
    top: 100%;
    left: 0;
    transition: 1s;
}


.classify_rooms_items .rooms_item:hover {
    scale: 1.05;
}

.classify_rooms_items .rooms_item:hover .xemthem::before {
    width: 90px;
}


.classify_rooms_items .rooms_item .rooms_item_img {
    width: 100%;
    height: 250px;
    background: #edecec;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.classify_rooms_items .rooms_item .rooms_item_img img {
    width: 130%;
}

.classify_rooms_items .rooms_item a {
    text-decoration: none;
    color: #000;
}



.rooms {
    width: 100%;
    /* height: 40vh; */
    position: relative;
    padding: 40px 0;
}

.con_rooms {
    width: 100%;
    top: -10%;
    left: 0;
    z-index: 100;

}

.con_rooms .container {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.rooms_items h1 {
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 50px;
}

.rooms_items h5 {
    text-decoration: 1px solid #000;
}

.rooms_items {
    display: block;
    text-align: center;
    width: 75%;
}

.con_rooms_items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.con_rooms_items .rooms_item {
    width: 300px;
    height: 250px;
    background: #fff;
    border-radius: 10px;
    text-align: start;
    line-height: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;

}

.con_rooms_items .rooms_item .rooms_item_img {
    width: 100%;
}

.con_rooms_items .rooms_item .rooms_item_img img {
    width: 130%;
}

.con_rooms_items .rooms_item .rooms_item_content {
    padding: 5px 20px;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    color: #000000;
    transition: 0.5s;
    background: #f2f2f3;
}

.con_rooms_items .rooms_item:hover .rooms_item_content {
    top: 85%;
}

.rooms_item_content_icon {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.rooms_item_content_icon p {
    margin: 0;
    margin-right: 20px;
    font-size: 16px;
}

.rooms_item_content_icon .icon {
    font-size: 30px;
    margin-right: 10px;
}

.rooms_item_content .xemthem {
    position: relative;
    width: 110px;
}

.rooms_item_content .xemthem::before {
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(245, 66, 66);
    content: '';
    top: 100%;
    left: 0;
    transition: 1s;
}

.rooms_item_content .rooms_item:hover {
    scale: 1.05;
}

.rooms_item_content .rooms_item:hover .xemthem::before {
    width: 90px;
}

.con_rooms .advertisement {
    width: 25%;
    /* height: 800px; */
    background: #ffffff;
    /* padding: 30px 0; */
    border-radius: 20px;
    overflow: hidden;
}

.con_rooms .advertisement .advertisement_booknow {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home_customer_typical {
    width: 100%;
    padding: 80px 20px;
    border-top: 1px solid orange;
    background: #eeeeee;
}

.home_customer_typical_title {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
    display: flex;

}

.home_customer_typical_slider {
    width: 100%;
    overflow: hidden;
}

.home_customer_typical_slider img {
    width: 100%;
}

.container_logo_doitac {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home_customer_typical_slider .slider-images {
    display: flex;
    width: 12%;
    border: none;
    justify-content: space-between;

}

.logo_doitac {
    width: 10%;

}

.home_contact {
    background: linear-gradient(45deg, #eb6424, #fbba72);
}

.container_home_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 25vh; */
    padding: 50px 30px;
    color: #000;

}

.home_contact a {
    margin: 30px 0 0 0;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 20px 0 20px 20px;
    color: #000;
    text-decoration: none;
    color: orange;

}


@media only screen and (max-width: 1200px) {
    .solusion_other_con_card {
        width: 200px;
        /* height: 300px; */
    }

    .home_blog_card {
        width: 300px;
    }

    .home_slider img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .solusion_home .solusion_home_hospital {
        /* padding: 50px 0; */
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .solusion_home .solusion_home_info {
        width: 100%;
    }

    .con_solusion_home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .solusion_home_img {
        margin: 30px 0;
    }

    .solusion_other_con {
        flex-wrap: wrap;
    }

    .solusion_other_con_card {
        width: 270px;
        height: 390px;

    }

    .container_home_blog_card {
        flex-wrap: wrap;

    }
}

@media only screen and (max-width: 992px) {
    .slider {
        height: 60vh;
    }
}

@media only screen and (max-width: 768px) {
    .rooms_items {
        display: block;
        text-align: center;
        width: 50%;
    }

    .con_rooms .advertisement {
        width: 50%;
    }

    .classify_rooms_items {
        justify-content: center;
    }

    .classify_rooms_items .rooms_item {
        width: 80%;
    }

    .solusion_home .solusion_home_info ul {

        display: block;
    }

    .solusion_home .solusion_home_info li {
        width: 100%;
        margin: 15px 0;
    }

    .solusion_home .solusion_home_info a {
        margin: 0;
    }

    .title_solusion_other {
        width: 100%;
    }

    .solusion_other_con_card {
        width: 80%;

    }

    .title_container_blog_home {
        width: 100%;
    }

    .container_home_blog_card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .home_blog_card {
        width: 80%;
        margin: 30px 0;
    }
}

@media only screen and (max-width: 481px) {

    .reasons {
        justify-content: center;
    }

    .reasons .reason {
        width: 80%;


    }

    .solusion_other {
        padding: 50px 0;
    }

    .solusion_other_con_card {
        width: 100%;
    }

    .solusion_other_con_card {
        width: 270px;
        height: 350px;

    }

    .solusion_other_con_card_img {
        /* transform: translateX(-50%); */
        width: 100%;
        height: 156px;
    }


    .blog_home {
        padding: 40px 0;
    }

    .con_slider img {
        width: 100%;
    }

    .con_slider {

        height: 90vh;
    }

    .content_slider {

        top: 35%;
    }

}

.container_product_cart {
    text-align: center;
}