* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;

}
.nav{
    position: absolute;
    top: 0;
    left: 0;
}
.navbar {
    padding: 5px;
    background: #eff1f4;
    z-index: 100;
    display: flex;
    flex-wrap: unset;
    /* position: absolute; */
}

.header_left {
    width: 10%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-right: 20px;
}

.header_left a {
    width: 100%;

}

.header_left img {
    width: 100%;

}

.header_right {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#basic-navbar-nav {
    width: 50%;
}

.menu {

    width: 40%;

}

.menu ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;
}



.menu ul li {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */

}

.menu ul li a {
    color: #000;
    /* margin-right: 20px; */

    width: 100%;
    text-align: center;

}

.menu ul li h3 {
    font-size: 15px;
    margin: 0;
}

.menu>ul>li::before {
    position: absolute;
    width: 0;
    height: 2px;
    background: rgb(79, 79, 79);
    content: '';
    top: 90%;
    left: 0;
    transition: 1s;
}

.menu ul li:hover::before {
    width: 100%;
}

.menu .menu_child {
    display: none;
    position: absolute;
    top: 70%;
    opacity: 0;
    left: 0;
    white-space: nowrap;
    width: 180px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.4s;
}

.menu .menu_child li {
    height: 40px;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    background: #f8f6f6;
    border-bottom: 2px solid #eff1f4;
}

/* .menu .menu_child li:last-child {
    border: none;
} */

.menu li:hover .menu_child {
    display: block;
    top: 100%;
    opacity: 1;
    /* z-index: 50; */
}

.menu .menu_child li:hover {
    border-left: 2px solid rgb(205, 95, 27);
    background: #eaeaea;
}

.menu .menu_child .menu_child-child {
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu .menu_child li:hover .menu_child-child {
    display: block;
    z-index: 100;
}

.header_right_icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
}

.search {
    width: 5%;

}

.search button {
    width: 35px;
    height: 35px;
    background: none;
    border: 1px solid #000;
    border-radius: 50%;

}

.container_search {
    position: absolute;
    width: 100%;
    height: 90vh;
    background: #ede7e7;
    top: 100%;
    left: 0%;
    transform: translateX(0%);
    transform: translateY(-250%);
    display: block;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;

}

.container_search.active {
    display: block;
    transform: translateY(0%);
    opacity: 1;
}

.con_search {
    width: 100%;
    padding: 30px 20px;
    /* height: 300px; */
    background: #fff;
    border-radius: 5px;
}

.container_search .search_input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.container_search .search_input .icon_search_input {
    font-size: 25px;

}

.container_search .search_input .input {
    width: 100%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background: none;
}

.suggest {
    width: 100%;
    margin-top: 20px;
}

.suggest ul {
    width: 100%;
    line-height: 35px;
    margin: 0;
    padding: 0;
}

.suggest ul a {
    width: 100%;
    text-decoration: none;
    color: #505050;

}

.suggest ul li {
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
}

.suggest ul li:hover {
    background: #d4d4d4;
    color: #000;
}


.shopping_cart {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 5%;
}



.cart_icon {
    font-size: 20px;
    border: none;
    background: none;
}

.shopping_cart button {
    border: none;
    background: none;
}

.container_cart {

    position: absolute;
    width: 100%;
    height: 90vh;
    background: #ede7e7;
    top: 100%;
    left: 0%;
    opacity: 0;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-130%);
    align-items: center;

    border-radius: 5px;
    display: block;
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: -10;
}


.container_cart.active1 {
    display: block;
    transform: translateY(0%);
    opacity: 1;
}

.shopping_cart p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.con_cart {
    width: 100%;
    background: #fff;
    padding: 20px;
}

.shopping_cart h3 {
    margin: 20px 0;
}

.shopping_cart h5 {
    margin: 20px 0;
}

.shopping_cart ul {
    margin: 0;
    padding: 0 10px;
}

.shopping_cart ul a {
    text-decoration: none;
    font-size: 15px;
    color: #4e4d4d;
}

.shopping_cart ul a:hover {
    color: #000;
}

.shopping_cart ul a span {
    margin-left: 5px;
}

.nav_icon {
    display: none;
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    .container {
        display: flex;
        justify-content: space-between;
    }

    .menu {
        display: none;
        width: 10%;
        display: block;
        position: absolute;
        top: 100%;
        left: -100%;
        background: #eff1f4;
        
        width: 50%;
        height: 100vh;
        padding: 20px;
        transition: 0.5s;
    }

    .menu.activemenu {
        top: 100%;
        left: 0;
        padding: 10px 0 0 30px;
    }

    .menu ul {
        display: flex;
        /* justify-content: flex-start; */
        flex-direction: column;
        align-items: start;
    }


    .header_left {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .header_left img {
        width: 100%;
    }

    .header_right {
        width: 15%;
    }

    .header_right_icon {
        width: 100%;
    }

    .search {
        width: 50%;
    }

    .shopping_cart {
        width: 50%;
    }

    .container_con_search {
        display: block;
    }

    .container_con_cart {
        display: block;
    }

    .nav_icon {
        display: flex;
        width: 20%;
        align-items: start;
        justify-content: left;
        cursor: pointer;
    }

}

@media only screen and (max-width: 768px) {
    .header_left {
        width: 25%;
    }
}

@media only screen and (max-width: 481px) {
    .header_right {
        width: 20%;
    }
}