
.rounded-3{
    width: 100%;
    border: 1px solid orange;
}
@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.quality_cart_page{
    display: flex;
    justify-content: space-around;
}
.quality_cart_page samp{
    width: 25px;
    height: 25px;
    background: #f3f3f3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}