.rounded-3 {
    width: 100%;
    border: 1px solid orange;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.quality_cart_page {
    display: flex;
    justify-content: space-around;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.table_cart_page {
    width: 100%;


}

.table_cart_page tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.table_cart_page td,
.table_cart_page th {
    /* padding: 8px; */
    /* border: 1px solid #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.hinh_sp_cart_page {
    width: 15%;
    text-align: center;
}

.table_cart_page img {
    width: 100%;
}

.price_cart_page {
    width: 15%;
    text-align: center;
}

.name_cart_page {
    width: 20%;
    text-align: center;
}

.qualy_cart_page {
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qualy_cart_page samp {
    width: 25px;
    height: 25px;
    background: #f3f3f3;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.total_cart_page {
    width: 15%;
    text-align: center;
}

.delete_cart_page {
    width: 10%;
}

.form_input_ship {
    width: 100%;
}

.form_input_ship .form_group {
    width: 100%;

}

.form_input_ship .form_group input {
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid orange;
    padding-left: 10px;
}

.form_input_ship input {
    width: 100%;
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .total_cart_page {
        width: 100%;
        text-align: left;
    }
}