.footer {
    background: #ece5e5;
    padding: 20px;

}

.footer_top {
    display: flex;
    justify-content: space-between;
    align-items: start;

    text-align: left;
    
    flex-wrap: wrap;
}

.footer_left {
    width: 30%;
    margin-right: 30px;
}

.footer_left img {
    width: 50%;
    margin-bottom: 10px;
}

.footer_center {
    width: 40%;
    display: flex;

    padding: 20px 0;
}

.footer .footer_center .helpful {
    width: 50%;
}

.footer .footer_center .support {
    width: 50%;

}

.footer ul {
    margin: 0;
    padding: 0;
}

.footer ul li {
    line-height: 30px;
    padding-left: 5px;

}

.footer .helpful ul li:hover {
    border-left: 2px solid #000;
}

.footer .contact_us {
    margin-top: 10px;
    width: 25%;
}

.footer .contact_us ul li {
    line-height: 20px;
}

.footer .support ul li:hover {
    border-left: 2px solid #000;
}

.footer ul li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}


.footer_bot {
    width: 100%;
    text-align: center;
    background: #f8f6f6;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_bot p {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 992px){
 .container {
    display: block;
    justify-content: space-between;}
}
@media only screen and (max-width: 768px) {

    .footer .container {
        display: block;


    }

    .footer_left {
        width: 100%;
        margin: 0;
    }

    .footer_center {
        width: 100%;
    }

    .footer .contact_us {
        width: 100%;
    }

}
