.baner_rooms_page{
    width: 100%;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    
}
.baner_rooms_page h1{
    font-size: 70px;
    color: #000000;
}
.rooms_page_room{
    margin: 50px 0;
}
.container_room{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0 ;
    width: 100%;
}