.slider {

  overflow: hidden;
  position: relative;
padding: 30px 0;
}

.slider-product {
  display: flex;
  transition: transform 0.3s ease;
  align-items: center;

}

.baner_product {
  margin-right: 30px;
  /* transform: translateX(calc(max(1400px, 100vw)/2 - 650px)); */
}


.con_baner_product_dau {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 350px;
  
}
.con_baner_product_dau img{
width: 100%;
}

.con_baner_product_cuoi {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.baner_product .product {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 300px;
  background: none;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
  background: #f6f6f6;
  width: 50px;
  height: 50px;
  opacity: 0.7;
  display: block;
  transition: 0.5s;
  opacity: 0;
  scale: 0.5;
}

.prev-button {
  left: 5%;

}

.next-button {
  right: 5%;

}

.slider:hover .next-button {
  display: block;
  opacity: 1;
  scale: 1;
}

.slider:hover .prev-button {
  display: block;
  opacity: 1;
  scale: 1;
}